doctype html
html(lang="en")
head
    title Cowbell
    meta(charset="utf-8")
body
    h1
    ul

    button(id="new-game") Create a new game
    button(id="start-game", style="display:none") Start the game

    div(id="controls", style="display:none")
        input(id="guess", type="text")
        button(id="try-guess") Guess
        button(id="give-up") Give up

    script(src="/components/jquery-2.1.0.min.js")
    script(src="/components/underscore-min.js")
    script(src="/socket.io/socket.io.js")

    script(type="text/html", id="found")
        != '<li>You guessed: <%= guess %>, Cows: <%= cows %>, Bulls: <%= bulls %></li>'

    script(type="text/html", id="won")
        != '<li>Correct! The number was: <%= number %></li>'

    script(type="text/html", id="lost")
        != '<li>Another player won! The number was: <%= number %></li>'

    script(type="text/html", id="error")
        != '<li>Invalid guess: <%= guess %></li>'

    script(type="text/html", id="giveup")
        != '<li>You gave up, the number was: <%= number %></li>'

    script(type="text/html", id="gameList")
        != '<ul><% _.each(games, function(game) { %>'
        != '    <li class="game-entry" data-id="<%= game.id %>">Game <%= game.id %></li>'
        != '<% }) %></ul>'

    script(type="text/javascript").
        $(function() {
            var socket = io.connect('http://localhost:8080');
            var $body = $(document.body);
            var $controls = $("#controls");
            var $tryGuess = $("#try-guess");
            var $guess = $("#guess");
            var $log = $("ul");
            var $newGameButton = $("#new-game");
            var $startGameButton = $("#start-game");
            var templates = {};
            var playerId;
            var inGame = false;

            $.ajax({
                url: "/players/new"
            }).done(function(data) {
                playerId = data.id;
                socket.emit("hello", playerId);
            });

            $newGameButton.on("click", function() {
                $.ajax({
                    url: "/games/new",
                    method: "POST",
                    data: {
                        id: playerId
                    },
                    dataType: "json"
                }).done(function() {
                    $newGameButton.hide();
                    $startGameButton.show();
                });
            });

            $startGameButton.on("click", function() {
                socket.emit("start");
                $startGameButton.hide();
            });

            // Consume and parse the templates:
            $("script[type='text/html']").each(function() {
                templates[this.getAttribute("id")] = _.template(this.textContent);
                this.parentNode.removeChild(this);
            });

            // Get a list of all the games:
            $.ajax({
                url: "/games"
            }).done(function(data) {
                if (data) {
                    $(templates.gameList({ games: data })).appendTo($body);

                    $body.on("click", ".game-entry", function() {
                        $.ajax({
                            url: "/games/" + this.getAttribute("data-id") + "/join",
                            method: "POST",
                            data: {
                                id: playerId
                            },
                            dataType: "json"
                        }).done(function(data) {
                            if (data) {
                                $(".game-entry").hide();
                                $newGameButton.hide();
                                $startGameButton.show();
                            }
                        });
                    });
                }
            });

            $tryGuess.on("click", function() {
                var guess = $guess.val();
                $guess.val('');

                if (guess) {
                    socket.emit("guess", guess);
                }
            });

            $guess.on("keydown", function(event) {
                if (event.keyCode === 13 && this.value) {
                    socket.emit("guess", this.value);
                    this.value = ""
                }
            });

            $("#give-up").on("click", function() {
                socket.emit("giveUp");
            });

            socket.on("guess", function() {
                $guess.removeAttr("disabled");
                $tryGuess.removeAttr("disabled");
            }).on("wait", function() {
                $guess.attr("disabled", "");
                $tryGuess.attr("disabled", "");
            }).on("found", function(result) {
                $log.append($(templates.found(result)));
            }).on("gameStarted", function() {
                $newGameButton.hide();
                $startGameButton.hide();
                $controls.show();
            }).on("giveUp", function(result) {
                $log.append($(templates.giveup(result)));
                $controls.hide();
            }).on("youWon", function(result) {
                $log.append($(templates.won(result)));
                $controls.hide();
            }).on("youLost", function(result) {
                $log.append($(templates.lost(result)));
                $controls.hide();
            });
        });
